:root {
    --primary-color: #c8b3a6;
    --secondary-color: #faf5ed;
    --read-color: #d9edc9;
    --unread-color: #eac5c5;

    --semi-bold: 600;

    --button-bradius: 40px;

    font-family: "Inter", sans-serif;
    text-align: center;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

button {
    font-weight: var(--semi-bold);
    border-radius: var(--button-bradius);

    /* box shadow copied from https://getcssscan.com/css-box-shadow-examples (#0) */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
    padding: 1rem 2rem;
}

header h1 {
    text-transform: lowercase;
}

button#add-book {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border: none;
}

button#add-book:focus {
    outline: none;
}

/* main styles */
dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

form input {
    padding: 0.2rem;
    border-radius: 5px;
    border: 1px solid black;
}

form button {
    padding: 0.3rem 1.5rem;
    border-radius: 5px;
    border: 1px solid black;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    
    padding: 0 1rem;
    gap: 1rem;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
}

.book * {
    margin: 0.5rem;
}